@page
@model WebApp.Pages.DevicesModel
@{
    ViewData["title"] = "Tilføj maskiner til dit strømforbrug";
}

<h1>h1</h1>
<p>Hvad foregår der?</p>
<div>
    <a href="https://www.nettopower.dk/elapparater/vaskemaskine/" target="_blank">link til vaskemaskine forbrug</a>
</div>

