@page
@model WebApp.Pages.Charts.IndexModel
@{
    ViewData["Title"] = "Charts";
}
<html>
<head>
    <style>
            .table__container {
                width: calc(100% + 24px);
                margin-top: 20px;
                margin-left: -12px;
                margin-right: -12px;
            }

            .table__container table {
                width: 100%;
            }

            .table__container table th {
                border: 2px solid black
            }

            .table__container table td {
                border: 1px solid black
            }
    </style>
</head>
<body>
    <div class="text-left">
        <h1 class="display-4">
            Charts
        </h1>
        <br/>
        <h2 class="text-left">
            Power Usage
        </h2>
        <hr/>
    </div>


    <div>
        <div style="width: 100%; display: flex; justify-content: space-between;">
            <div style="width: 30%;" class="row">
                <h3 class="text-left">Last 30 days</h3>
                <canvas id="pieChart" style="
                border: 1px solid black;"></canvas>
            </div>
            <div style="width: 60%; height: 20%;" class="row">
                <h3 class="text-left">
                    Previous 3 months
                </h3>
                <canvas id="barChart" style="
                    border: 1px solid black;"
                ></canvas>
            </div>
        </div>
        <div class="table__container">
            Monthly Breakdown
               <table>
                   <thead>
                   <th>Usage</th>
                   <th>Generation</th>
                   <th>Difference</th>
                   <th>Total</th>
                   </thead>
                   <tbody>
                   <tr>
                       <td>1</td>
                       <td>2</td>
                       <td>3</td>
                       <td>4</td>
                   </tr>
                   <tr>
                       <td>1</td>
                       <td>2</td>
                       <td>3</td>
                       <td>4</td>
                   </tr>
                   <tr>
                       <td>1</td>
                       <td>2</td>
                       <td>3</td>
                       <td>4</td>
                   </tr>
                   <tr>
                       <td>1</td>
                       <td>2</td>
                       <td>3</td>
                       <td>4</td>
                   </tr>
                   </tbody>
               </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('pieChart');
        const pChart = document.getElementById('barChart')

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['kW/h - Used', 'kW/h - Generated'],
                datasets: [{
                    label: 'kW/h',
                    data: [120, 190],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        new Chart(pChart, {
            type: 'bar',
            data: {
                labels: ['Used 2023/06', 'Generated 2023/06', 'Used 2023/07', 'Generated 2023/07', 'Used 2023/08', 'Generated 2023/08'],
                datasets: [{
                    label: 'kW/h',
                    data: [320, 231, 354, 521, 207, 348],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
