@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til din informations side</h1>
    <h2>Fordelingsnøgle til en billigere elregning</h2>

    <p>
        På denne side kan du finde dine maskiners elforbrug, og se den strøm du har brugt. 
    </p>

    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        -->
</div>
