@page
@model WebApp.Pages.PaavirkningModel
@{
    ViewData["title"] = "Sådan påvirkes din elregning";
}

<h1>@ViewData["Title"]</h1>

<div class="container">

<h3>Tariffer</h3>

<p>
    Tariffer er den pris vi som forbrugere betaler for at få transporteret strømmen ud til os.
    Tariffer er variable of afhænger af, hvornår på døgnet strømmen bruges.
    Derfor kan man snakke om spidsbelastning, da tarifferne generelt er højere, når den gennemsnitlige dansker bruger mest strøm.

    Tariffer varierer blandt andet imellem sæsoner, regioner, tid på dagen og leverandører.
    Derfor er tariffer indregnet i vores viste elpris, så der automatisk tages højde for, hvornår det bedst kan svare sig for dig at bruge strømmen.
</p>

</div>
